* {
    text-decoration: none;
    list-style: none;

}

body {
    background-color: #020202e8;
}


#navigation {
    width: 100%;
    height: 100px;
    background-color: #a71c4a98;
}

.navigation {
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
    

}
#nav {
    display: flex;
  
}

.nav ul li a{
    padding: 8px 23px;
    /* background-color: rgba(0, 0, 0, 0.7); */
    color:rgb(199, 160, 160);
    transition: 0.5 ease-in;

}
.nav ul li a:hover{
    background-color: rgba(10, 58, 73, 0.589);
    color: white;

}
.main {
    width: 100%;
    height: 600px;
    color: cyan;
    font-size: larger;
}

.sub {
    width: 60%;
    padding: 50px;
}

#sub {
    padding: 60px;
}