* {
    text-decoration: none;
    list-style: none;

}

body {
    background-color: rgba(99, 60, 13, 0.568);
}


#navigation {
    width: 100%;
    height: 100px;
    background-color: #a71c4a98;
}

.navigation {
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;

}
#nav {
    display: flex;
}

.nav ul li a{
    padding: 8px 23px;
    /* background-color: rgba(0, 0, 0, 0.7); */
    color:maroon;
    transition: 0.5 ease-in;

}
.nav ul li a:hover{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;

}